@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}
*{
  
}

body{
  background-color: #968C83;
}

.navbar:hover{
  color: #201E43;
}
.navbar:active{
  color: #201E43;
}
.button{
  background-color: #201E43;
  color: white;
  font: bolder;
}
.profile{
  background-color: #968C83;
}

.profile-card{
  border: 5px solid #201E43;
}